bs4==0.0.1
textract==1.6.3
numpy==1.19.4
pandas==1.1.4
requests==2.24.0
tqdm==4.51.0
nltk==3.5
quandl==3.5.3
scikit-plot==0.3.7
seaborn==0.11.0
sklearn==0.0
torch==1.7.0
transformers==3.5.0
wordcloud==1.8.0
xgboost==1.2.1
